<div class="app-container">
  <nav class="navbar">
    <div class="logo">{{ title }}</div>
    <div class="nav-links">
      <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
         Contador
      </a>
      <a routerLink="/pacientes" class="nav-link" routerLinkActive="active">
         Pacientes
      </a>
      <a routerLink="/sobre" class="nav-link" routerLinkActive="active">
         Sobre
      </a>

    </div>
  </nav>
  
  <div class="content">
    <router-outlet />
  </div>
</div>
